name: ci
on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.26.x]
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: setup-go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: make-lint
        if: matrix.go-version == '1.26.x'
        run: make lint
      - name: make-test
        run: make test
